/* Gebruik css varianble: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */
/*

    https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
    https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors
    https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors
    https://developer.mozilla.org/en-US/docs/Web/CSS/General_sibling_selectors

*/
#debug-viewport:after {
    content: "mobile";
    color: red;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 2rem;
}

@media (min-width: 40rem) and (max-width: 80rem) {
    #debug-viewport:after {
        content: "tablet";
    }
}

@media (min-width: 60em) {
    #debug-viewport:after {
        content: "desktop";
    }
}

h1, h1 a {
    font-family: 'Fira Sans', sans-serif;
}

textarea {
    margin: 0;
    border-radius: 0.3rem;
    border: 1px solid #e1e1e1;
    padding: 0.5rem;
}

textarea:focus {
    border: 1px solid #ffaf00;
}

input[type="email"], input[type="password"] {
    border-radius: 0.3rem;
    border: 1px solid #e1e1e1;
}

input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid #ffaf00;
}

button {
    border-radius: 0.3rem;
    border: none;
    background-color: #282828;
    color: white;
    height: 2rem;
}

button:focus {
    outline: 0;
}

button:focus, button:hover {
    color: white;
    background-color: #ffaf00;
    outline: 0 !important;
}

input[type="email"], input[type="password"] {
    border-radius: 0.3rem;
    border: 1px solid #e1e1e1;
    padding: 0.5em;
}

/* body, header with navigation */
body {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
}

body > header {
    background-color: #282828;
    color: white;
    height: 3rem;
    width: 100vw;
}

@media (max-width: 40rem) {
    body > header {
        display: grid;
        grid-template-columns: 60% 40%;
        position: fixed;
        z-index: 100;
        height: 3rem;
        top: 0;
        left: 0;
    }
}

@media (min-width: 40rem) {
    body > header {
        position: relative;
        display: grid;
        grid-template-columns: 18rem auto;
        height: 3rem;
        margin-bottom: 2rem;
    }
}

body > header > h1 {
    font-size: 1.5em;
    width: 100%;
    line-height: 3rem;
    padding: 0 0 0 1rem;
}

@media (min-width: 40rem) {
    body > header > h1 {
        padding: 0 0 0 1.25rem;
        line-height: 3rem;
    }
}

body > header nav:focus {
    outline: 0;
}

@media (max-width: 40rem) {
    body > header nav > ul {
        display: none;
        visibility: hidden;
    }
    body > header nav:focus-within > ul, body > header nav:focus > ul {
        display: block !important;
        visibility: visible !important;
    }
}

@media (max-width: 40rem) {
    body > header nav h1 {
        text-align: right;
        line-height: 3rem;
        height: 3rem;
        padding: 0 1rem 0 0;
    }
}

@media (min-width: 40rem) {
    body > header nav h1 {
        display: none;
        visibility: hidden;
    }
}

body > header nav > ul {
    border-radius: 0 0 0 0.3rem;
}

@media (max-width: 40rem) {
    body > header nav > ul {
        background-color: #ffaf00;
        -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 40rem) {
    body > header nav > ul {
        display: flex;
        height: 3rem;
    }
}

body > header nav > ul li {
    display: block;
}

@media (max-width: 40rem) {
    body > header nav > ul li {
        min-height: 2rem;
        line-height: 2rem;
    }
    body > header nav > ul li:not(:first-of-type) {
        border-top: 1px solid white;
    }
    body > header nav > ul li:focus-within + li {
        border: none;
    }
}

body > header nav > ul li a {
    display: block;
}

@media (max-width: 40rem) {
    body > header nav > ul li a {
        transition: padding 0.25s;
        padding: 1rem;
        box-sizing: border-box;
    }
}

body > header nav > ul li a:focus {
    background-color: white;
    color: black;
    outline: 0;
}

@media (max-width: 40rem) {
    body > header nav > ul > li li {
        transition: margin 0.25s;
        margin: 0 1rem;
    }
    body > header nav > ul > li li:focus-within {
        margin: 0;
    }
    body > header nav > ul > li li:focus-within a {
        padding: 0.5rem 0 0.5rem 1.5rem;
    }
    body > header nav > ul > li:last-child a {
        border-radius: 0 0 0 0.3rem;
    }
}

@media (min-width: 40rem) {
    body > header nav > ul > li {
        position: relative;
        line-height: calc(3rem - 2rem);
        box-sizing: border-box;
        height: 3rem;
        font-size: 1em;
    }
    body > header nav > ul > li a {
        padding: 1rem 1.5rem;
    }
    body > header nav > ul > li a:focus {
        background-color: #ffaf00;
        color: white;
    }
    body > header nav > ul > li ul {
        visibility: hidden;
        display: none;
        background-color: #ffaf00;
        left: 0;
        position: absolute;
        border-radius: 0 0 0.3rem 0.3rem;
        width: 100%;
        -webkit-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    }
    body > header nav > ul > li ul li a {
        padding: 0.5rem;
        display: block;
        height: 100%;
    }
    body > header nav > ul > li ul li a:focus {
        background-color: white;
        color: #ffaf00;
    }
    body > header nav > ul > li ul li:last-of-type a {
        border-radius: 0 0 0.3rem 0.3rem;
    }
    body > header nav > ul > li:focus-within ul {
        visibility: visible;
        display: initial;
    }
}

body > header nav a {
    color: white;
    text-decoration: none;
}

/* ----------------------- */
/* main and content wrappers */
main {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

@media (min-width: 40rem) and (max-width: 80rem) {
    main {
        width: 60em;
        max-width: 100vw;
        margin: auto;
    }
}

@media (min-width: 80rem) {
    main {
        width: 75em;
        max-width: 100vw;
        margin: auto;
    }
}

@media (max-width: 40rem) {
    main {
        margin-top: 3rem;
    }
}

@media (min-width: 40rem) {
    main {
        padding: 0 1rem 1rem 1rem;
    }
}

@media (min-width: 40rem) and (max-width: 80rem) {
    main {
        grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    }
}

@media (min-width: 80rem) {
    main {
        grid-template-columns: calc(33.3% - 0.6667rem) calc(33.3% - 0.6667rem) calc(33.3% - 0.6667rem);
    }
}

main > * {
    border-radius: 0;
    transition: border-radius 2s;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
}

@media (min-width: 40rem) {
    main > * {
        border-radius: 0.3rem;
    }
}

@media (min-width: 40rem) and (max-width: 80rem) {
    main > *:last-child:nth-child(odd) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 80rem) {
    main > *:last-child:nth-child(odd) {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

main > * h1 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

main > *:focus {
    outline: 0;
}

main > *:focus-within {
    border: 1px solid rgba(255, 175, 0, 0.5);
    -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
}

main > *:focus {
    border: 1px solid #ffaf00;
    -webkit-box-shadow: 1px 1px 2px -1px rgba(255, 175, 0, 0.7);
    -moz-box-shadow: 1px 1px 2px -1px rgba(255, 175, 0, 0.7);
    box-shadow: 1px 1px 2px -1px rgba(255, 175, 0, 0.7);
}

main > * a:focus {
    color: #ffaf00;
}

main > * img {
    width: 100%;
}

/* ----------------------- */
/* default article */
main > article img {
    margin-bottom: 1rem;
}

main > article p {
    line-height: 1.2em;
}

main > article figcaption footer {
    border-top: 1px solid black;
    margin-top: 1rem;
    padding-top: 1rem;
}

/* ----------------------- */
/* rating */
@keyframes jumpingsmiley {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

nav form fieldset {
    display: flex;
    position: relative;
    padding: 1rem;
    background-color: #ebebeb;
    border-radius: 0.3rem;
}

nav form fieldset legend {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.3em;
}

input[name="rating"] {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
}

input[name="rating"] + label {
    opacity: 0.5;
    display: block;
    flex-grow: 1;
    position: relative;
    text-align: center;
    height: 4rem;
}

input[name="rating"]:focus + label {
    color: #ffaf00;
}

input[name="rating"]:focus + label svg {
    animation: jumpingsmiley 1.5s infinite;
    transition-timing-function: ease-in-out;
}

input[name="rating"]:focus + label, input[name="rating"]:checked + label, input[name="rating"]:hover + label {
    opacity: 1;
}

input[name="rating"] + label svg {
    width: 2rem;
    position: absolute;
    bottom: 0;
    left: calc(50% - 1rem);
}

/* ----------------------- */
/* chat */
section > ol {
    padding: 1em;
    background-color: #ebebeb;
    border: 1px solid #e1e1e1;
    margin-bottom: 1em;
    border-radius: 0.3rem;
}

section > ol li {
    display: block;
    margin-top: 0.7em;
}

section > ol li > p {
    margin-bottom: 0.5em;
}

section > ol li:not(:last-of-type) {
    padding-bottom: 0.7em;
    border-bottom: 1px solid black;
}

section > ol p {
    display: block;
}

section > ol footer {
    font-size: 0.9em;
    font-weight: lighter;
    display: grid;
    grid-template-columns: auto auto;
}

section > ol footer p[data-status] {
    text-align: right;
}

section > form {
    display: grid;
    grid-template-columns: auto 50% 20%;
    grid-template-rows: 2rem;
    grid-column-gap: 5%;
}

@media (min-width: 40rem) and (max-width: 80rem) {
    section > form {
        grid-column-gap: 1rem;
        grid-template-columns: calc(80% - 1rem) 20%;
        grid-template-rows: 1.5rem 3rem;
    }
    section > form label {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
    }
    section > form textarea {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    section > form button {
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

section > form label {
    line-height: 2rem;
}

@media (min-width: 40rem) and (max-width: 80rem) {
    section > form label {
        line-height: 1rem;
    }
}

section > form textarea {
    resize: vertical;
}

/* ----------------------- */
/* login */
main > form[method="post"] {
    display: grid;
    grid-template-columns: 50% 50%;
}

main > form[method="post"] label {
    display: block;
}

main > form[method="post"] label:nth-of-type(1), main > form[method="post"] label:nth-of-type(2) {
    margin-bottom: 0.5rem;
}

main > form[method="post"] input[type="email"], main > form[method="post"] input[type="password"] {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

main > form[method="post"] input[name="field-stay-logged-in"] {
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 5;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.4rem 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #e1e1e1;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

main > form[method="post"] input[name="field-stay-logged-in"]:checked {
    background: #ffaf00 url("images/checked.svg") no-repeat;
    border: none;
}

main > form[method="post"] input[name="field-stay-logged-in"]:focus + label {
    color: #ffaf00;
}

main > form[method="post"] input[name="field-stay-logged-in"] + label {
    grid-column-start: 1;
    grid-row-start: 5;
    height: 2em;
    line-height: 2rem;
    margin-left: 2rem;
}

main > form[method="post"] button[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 1rem;
}
